<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Priyesh Pandey using mapbox.com and openweather api</p>
        <img class="portrait" src="/img/priyesh.jpeg">
    </div>
    
    {{>footer}}
</body>

</html>